<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ar_ros2_control" params="
    name
    plugin_name
    serial_port
    calibrate
  ">
    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>${plugin_name}</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="calibrate">${calibrate}</param>
      </hardware>

      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">{-184.5*pi/180}</param>
          <param name="max">{150*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">{-47.6*pi/180}</param>
          <param name="max">{120*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">{-110*pi/180}</param>
          <param name="max">{62.6*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">{-177.1*pi/180}</param>
          <param name="max">{161*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_5">
        <command_interface name="position">
          <param name="min">{-103.5*pi/180}</param>
          <param name="max">{103.5*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="joint_6">
        <command_interface name="position">
          <param name="min">{-167.8*pi/180}</param>
          <param name="max">{170.7*pi/180}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
